.btn-circle {
  
  text-align: center !important;
  padding: 3px !important;
  
  line-height: 1.428571429 !important;
  border-radius: 15px !important;
}
.btn-room-status{
  position: absolute;
  width: 20px !important;
  height: 20px !important;
  top:5px;
  right: 5px;
  font-size: 12px !important;
}
.btn-room-create{
  width: 30px !important;
  height: 30px !important;
  font-size: 16px !important;
}

/*no use*/
// .btn-room-status{
//   width: 75px !important;
//   height: 30px !important;
//   /* text-align: center; */
//   font-size: 13px !important;
  
// }