.item-list-header {
  height: 7rem;
  width: $page-content-sidebar-width;
  padding: 10px;
  background: $item-list-header-bg;
}

.item-list {
  overflow-y: scroll;
  width: 100%;
  height: 89%;
}

.item {
  position: relative;
  padding: 3px;
  border-bottom: 1px solid $gray;
   
}
.item-active{
  background-color: $gray;
}


.item:hover {
  cursor: pointer;
  background-color: $gray;
}

.item:active {
  background-color: $gray;
}